## Project Description
<p>Sports clothing and athleisure attire is a huge industry, worth approximately <a href="https://www.statista.com/statistics/254489/total-revenue-of-the-global-sports-apparel-market/">$193 billion in 2021</a> with a strong growth forecast over the next decade! </p>
<p>In this notebook, I perform data analysis on the database of an online sports clothing company. I dive into product data such as pricing, reviews, descriptions, and ratings, as well as revenue and website traffic, to improve revenue.</p>

## Building the database - sports

### Initializing connection with the database

In [16]:
# Loading sql extension using ipython-sql
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [17]:
# Initializing sql user, host, and database
%sql postgresql://postgres:Postgresql_pr0@localhost/sports

### Adding tables and importing data

In [18]:
%%sql

-- Dropping and creating table 'info'
DROP TABLE info;

CREATE TABLE public.info
(
    product_name VARCHAR(100),
    product_id VARCHAR(11) PRIMARY KEY,
    description VARCHAR(700)
);


-- Importing data
COPY
    info
FROM 'D:\Data Science\DataCamp Projects\Sports_Retail_SQL\datasets\info.csv'
DELIMITER ',' CSV HEADER;

 * postgresql://postgres:***@localhost/sports
Done.
Done.
3179 rows affected.

[]

In [19]:
%%sql

-- Dropping and creating table 'finance'
DROP TABLE finance;

CREATE TABLE public.finance
(
    product_id VARCHAR(11) PRIMARY KEY,
    listing_price NUMERIC,
    sale_price NUMERIC,
    discount NUMERIC,
    revenue NUMERIC
);


-- Importing data
COPY
    finance
FROM 'D:\Data Science\DataCamp Projects\Sports_Retail_SQL\datasets\finance.csv'
DELIMITER ',' CSV HEADER;

 * postgresql://postgres:***@localhost/sports
Done.
Done.
3179 rows affected.

[]

In [20]:
%%sql

-- Dropping and creating table 'traffic'
DROP TABLE traffic;

CREATE TABLE public.traffic
(
    product_id VARCHAR(11) PRIMARY KEY,
    last_visited TIMESTAMP
);


-- Importing data
COPY
    traffic
FROM 'D:\Data Science\DataCamp Projects\Sports_Retail_SQL\datasets\traffic.csv'
DELIMITER ',' CSV HEADER;

 * postgresql://postgres:***@localhost/sports
Done.
Done.
3179 rows affected.

[]

In [21]:
%%sql

-- Dropping and creating table 'brands'
DROP TABLE brands;

CREATE TABLE public.brands
(
    product_id VARCHAR(11) PRIMARY KEY,
    brand VARCHAR(7)
);


-- Importing data
COPY
    brands
FROM 'D:\Data Science\DataCamp Projects\Sports_Retail_SQL\datasets\brands.csv'
DELIMITER ',' CSV HEADER;

 * postgresql://postgres:***@localhost/sports
Done.
Done.
3179 rows affected.

[]

In [22]:
%%sql

-- Dropping and creating table 'reviews'
DROP TABLE reviews;

CREATE TABLE public.reviews
(
    product_id VARCHAR(11) PRIMARY KEY,
    rating NUMERIC,
    reviews NUMERIC
);


-- Importing data
COPY
    reviews
FROM 'D:\Data Science\DataCamp Projects\Sports_Retail_SQL\datasets\reviews.csv'
DELIMITER ',' CSV HEADER;

 * postgresql://postgres:***@localhost/sports
Done.
Done.
3179 rows affected.

[]